._nav {
  background-color: #f2f2f2;
  opacity: .90;
  position: fixed;
  height: 50px;
  width: 100%;
  display: inline-block;
}

._nav ul {
  background: #009999;
  /*border-top: 2px solid #f2f2f2;
  border-bottom: 2px solid #f2f2f2;*/
  width: 75%;
  height: 50px;
  float: left;
}

._nav ul li {
  color: #f2f2f2;
  font-family: sans-serif;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  line-height: 3;
  display: inline;
  margin-right: 20px;
  transition: .2s all ease;
}

._nav ul li:hover {
  color: white;
  transition: .2s all ease;
}

._nav:after {
  margin-bottom: 50px;
}

div.logo {
  width: 25%;
  float: left;
  height: 50px;
  color: #009999;
  background: #f2f2f2;
  cursor: pointer;
  transition: .2s all ease;
}

div.logo:hover {
  color: #f2f2f2;
  background: #009999;
  transition: .2s all ease;
}

div.logo p {
  border-top: 2px solid #009999;
  border-bottom: 3px solid #009999;
  line-height: 1.5;
  font-size: 30px;
  padding-left: 10%;
  transition: .2s all ease;
}

div.logo p: hover {
  font-size: 36px;
  transition: .2s all ease;
}



div.carousel {
  padding-top: 50px;
}

div.home {
  padding-top: 100px;
  height: 800px;
  background: #white;
}

div.home div.data {
  width: 55%;
  margin: 0% 2.5% 0% 2.5%;
  height: 100%;
  float: left;
  background: white;
  /*border: 1px solid black;*/
}

div.home div.chart {
  width: 35%;
  margin: 0% 2.5% 0% 2.5%;
  height: 100%;
  float: left;
  background: white;
  border: 1px solid black;
}

div.home_chart table tr td {
  white-space: nowrap;
  display: inline-block;
  float: left;
  list-style: none;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

tr td:first-child {
  padding-left: 30px;
}

div.home table tr:first-child{
  font-weight: bolder;
  color: #555555;
}

.week {width: 8%; text-align: center;}
.oppo {width: 15%; text-align: center;}
.spread{width: 8%; text-align: center}
.o_u{width: 8%; text-align: center;}
.ml{width: 9%; text-align: center;}
.score{width: 10%; text-align: center; border-left: 1px solid #009999}
.w_l{width: 8%; text-align: center;}
.ats{width: 7%; text-align: center;}
.ats_ytd{width: 10%; text-align: center;}
.o_u_result{width: 8%; text-align: center;}
.o_u_ytd{width: 10%; text-align: center;}


p.matchups {
  border-bottom: 1px solid #009999;
  width: 45%;
  font-size: 16px;
  color: #009999;
  padding-bottom: 5px;
  display: inline-block;
  float: left;
  /*color: #0a0a0a;*/
  text-align: center;
  margin-right: 3%;
}

p.results {
  border-bottom: 1px solid #009999;
  width: 45%;
  font-size: 16px;
  color: #009999;
  padding-bottom: 5px;
  display: inline-block;
  float: left;
  text-align: center;
  /*color: #0a0a0a;*/
  margin-left: 3%;
}

.bye {
  width: 100%;
  text-align: center;
}

.positive {
  color: green;
}

.negative {
  color: red;
}

.favorite {
  color: blue;
}

.dog {
  color: pink;
}
