<!-- 1 - repopulate the teams with proper iterations
2 - add new columns, adjust the %'s for teams
3 - move teams, home away, and fav dog to their own partials
4 - develop new categories for annual stats -->



<div class = "home">
  <div class = "row">
    <div class = "col-md-3 toggle" style="padding-left:20px; padding-right: 20px">
      <div ng-click="teams_dropdown = !teams_dropdown" class="cur_team">
        <p style="width: 10%; display; inline; float: left; padding-top: 3px">
          <img src="{{teamsMeta[cur_team].url}}">
        </p>
        <p style="font-size: 24px; display: inline; margin-left: 5px; float: left; text-align: center; white-space: nowrap;">
          {{teamsMeta[cur_team].city}} {{teamsMeta[cur_team].nick}}
          <i class="fa fa-angle-down" style="text-align: right" aria-hidden="true"></i>
        </p>

        <div ng-show="teams_dropdown" class="teams_drop">
          <p ng-click = "changeTeam(team)" ng-repeat="team in team_options" ng-class-odd="'odd'">
            <img src="{{teamsMeta[team].url}}">
            {{team}}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" style="text-align: center">
          filter by ...
        </div>
        <div class="col-md-4" style="text-align: center;">
          <button ng-click="activeTable = 'teams'">teams</button>
        </div>
        <div class="col-md-4" style="text-align: center;">
          <button ng-click="activeTable = 'favsDogs'">faves / dogs</button>
        </div>
        <div class="col-md-4" style="text-align: center;">
          <button ng-click="activeTable = 'homeAway'">home / away</button>
        </div>
      </div>

      <div ng-click="year_dropdown = !year_dropdown" class="cur_year row">
          <p style="text-align: center; font-size: 24px;"> {{cur_year}} <i class="fa fa-angle-down" aria-hidden="true"></i></p>
          <div ng-show="year_dropdown" class="years_drop">
            <p ng-click="changeYear(year)" ng-repeat="year in year_options" ng-class-odd="'odd'">
              {{year}}
            </p>
          </div>
      </div>
      <div class="row">
        <div class="col-md-12" style="text-align: center">
          show
        </div>
        <div class="col-md-6" style="text-align: center">
          <button>weekly</button>
        </div>
        <div class="col-md-6" style="text-align: center">
          <button>annually</button>
        </div>
      </div>
    </div>

    <div class="col-md-9">
      <table-teams ng-show = "activeTable == 'teams'"></table-teams>
      <table-favs-dogs ng-show = "activeTable == 'favsDogs'"></table-favs-dogs>
      <table-home-away ng-show = "activeTable == 'homeAway'"></table-home-away>
    </div>
  </div>


</div>

<div class = "carousel" ng-controller="CarouselDemoCtrl">
  <div style="height: 550px">
    <uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
      <uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
        <img ng-src="{{slide.image}}" style="margin:auto;">
        <div class="carousel-caption">
          <h4>Slide {{slide.id}}</h4>
          <p>{{slide.text}}</p>
        </div>
      </uib-slide>
    </uib-carousel>
  </div>
</div>


<!-- <div class="test" ng-controller="MainCtrl" ng-repeat="team in teams[0]">
  {{team}}
</div> -->
