<!-- <table class = "matchups">
  <tr>
    <td class="week">Week</td>
    <td class="oppo">Opponent</td>
    <td class="spread">Spread</td>
    <td class="o_u">Total</td>
    <td class="ml">ML</td>
    <td class="score">Score</td>
    <td class="w_l">W-L</td>
    <td class="ats">Ats</td>
    <td class="ats_cum">ats +/- <br> ytd</td>
    <td class="ats_ytd">ats w-l <br> ytd</td>
    <td class="o_u_result">o/u?</td>
    <td class="o_u_ytd">o/u ytd</td>
    <td class="o_u_ytd_diff">o/u ytd<br>diff</td>
  </tr>
  <tr ng-repeat="week in teams[ind][cur_team][cur_year]" ng-class-odd="'odd'">
    <div ng-if="week.week">
      <td ng-if="week.week" class="week">{{week.week}}</td>
      <td ng-if="!week.week" class="bye">BYE</td>
      <td class="oppo">{{week.home ? '@ ' + week.opponent : week.opponent}}</td>
      <td ng-class="week.spread > 0 ? 'dog' : 'favorite'" class="spread">{{week.spread > 0 ? "+" + week.spread : week.spread < 0 ? week.spread : 0}}</td>
      <td class="o_u">{{week.total}}</td>
      <td ng-class="week.winner ? 'positive' : 'negative'" class="ml">{{week.ml}}</td>
      <td ng-class="week.winner ? 'positive' : 'negative'" class="score">{{week.winningScore}}-{{week.losingScore}}</td>
      <td class="w_l">{{week.record}}</td>
      <td ng-class="week.ats > 0 ? 'positive' : 'negative'" class="ats">{{week.ats}}</td>
      <td ng-class="week.spread_differential > 0 ? 'positive' : 'negative'" class ="ats_cum">{{week.spread_differential}}</td>
      <td class="ats_ytd">{{week.record_ats}}</td>
      <td ng-class="week.over ? 'favorite' : 'dog'" class="o_u_result">{{week.over? "Over" : "Under"}}</td>
      <td class="o_u_ytd">{{week.o_u_wins + "-" + week.o_u_losses}}</td>
      <td ng-class = "week.o_u_diff > 0 ? 'favorite' : 'dog'" class = "o_u_ytd_diff">{{week.o_u_diff}}<td>
    </div>
  </tr>
</table> -->
