<hed></hed>
<div class = "row game-even">
  <div class = "col-md-3">Favorite</div>
  <div class = "col-md-3">Underdog</div>
  <div class = "col-md-3">Spread</div>
  <div class = "col-md-3">Winner</div>
</div>

  <div class = "row" ng-repeat="game in games" ng-class-odd="'game-odd'" ng-class-even="'game-even'">
    <div class="col-md-3">{{game.favorite}}</div>
    <div class="col-md-3">{{game.dog}}</div>
    <div class="col-md-3">{{game.spread}}</div>
    <div class="col-md-3">{{game.winner}}</div>
  </div>
<footer></footer>
