<div class = "graph">

    <!-- the graphs for teams -->
    <div class = "graph-container">
        <!-- TODO - REFACTOR SO NOT SETTING ACTIVE_CATEGORY CONDITIONAL EACH TIME -->
        <teams-ats
          ng-show="active_type == 'Against the Spread' &&
          active_category == 'Teams'">
        </teams-ats>
        <teams-ou
          ng-show="active_type == 'Over / Under' &&
          active_category == 'Teams'">
        </teams-ou>
        <teams-ml
          ng-show="active_type == 'Moneyline' &&
          active_category == 'Teams'">

        </teams-ml>

        <nfl-scatter
          ng-show="active_type == 'Favorites' &&
          active_category == 'Entire NFL'">
        </nfl-scatter>
        <nfl-home
          ng-show="active_type == 'Home vs Away' &&
          active_category == 'Entire NFL'">
        </nfl-home>
        <nfl-ou
          ng-show="active_type == 'Over / Under' &&
          active_category == 'Entire NFL'">
        </nfl-ou>
        <nfl-ml
          ng-show="active_type == 'Moneyline' &&
          active_category == 'Entire NFL'">

        </nfl-ml>

        <agg-favs
          ng-show = "active_type == 'Favorites' &&
          active_category == 'Aggregates'">
        </agg-favs>

        <agg-ou
          ng-show = "active_type == 'Over / Under' &&
          active_category == 'Aggregates'">
        </agg-ou>

        <agg-ats
          ng-show = "active_type == 'Spread' &&
          active_category == 'Aggregates'">
        </agg-ats>

        <agg-home
          ng-show = "active_type == 'Home vs Away' &&
          active_category == 'Aggregates'">
        </agg-home>

        <agg-ml
          ng-show = "active_type == 'Moneylines' &&
          active_category == 'Aggregates'">
        </agg-ml>

      </div>
    </div>

<div class="leftDash">

    <div class="options">

      <ul>
        <p style="font-size: 18px; color: rgba(00,150,150,1); font-weight: bold">Filter</p>
        <li class="col-md-12">
          <div ng-mouseenter="year_dropdown = true"
               ng-mouseleave="year_dropdown = false">
            {{cur_year}}
            <i class="fa fa-angle-down" aria-hidden="true"></i>
            <div ng-show="year_dropdown" class="year_drop">
              <p ng-click = "changeYear(year)" ng-repeat="year in year_options">
                {{year}}
              </p>
            </div>
          </div>
        </li>

        <li>
          <div ng-mouseenter="teams_dropdown = true"
          ng-mouseleave="teams_dropdown = false"
          ng-show="active_category !== 'Teams'">
            {{cur_team}} {{teamsMeta[cur_team].nick}}
            <i class="fa fa-angle-down" aria-hidden="true"></i>
            <div ng-disabled="active_category !== 'Teams'" ng-show="teams_dropdown" class="teams_drop_graph">
              <p style="font-size: 20px; line-height: 2; color: {{teamsMeta[team].hex}}; -webkit-text-stroke: 1px {{teamsMeta[team].hex}}; background-color {{teamsMeta[team].rgba}}"
              ng-click = "newChart(team)" ng-repeat="team in team_options" ng-class-odd="'odd'">
                <img src="{{teamsMeta[team].url}}">
                {{team}}
              </p>
            </div>
          </div>
        </li>
    </ul>

      <ul ng-repeat = "cat in graph_options">
        <p ng-click = "changeActiveCategory(cat.category)" ng-class="{active: active_category == cat.category}" class = "category">{{cat.category}}</p>
        <li ng-click="changeActiveType(type, cat.category)" ng-repeat="type in cat.cat_types" ng-class="{active: (active_type == type && active_category == cat.category)}">
          {{type}}
        </li>
      </ul>

    </div>

    <div ng-mouseover="joe = true" ng-mouseleave="joe = false" class="circle">
      <i ng-show = "!joe" class = "fa fa-arrow-left"></i>
      <p ng-show="joe" class="legend">Legend</p>
    </div>


  </div>
</div>



</div>
