<div class = "graph">

  <div class="chartHeader">
    {{team_filter && cur_team ? cur_team : active_category}}: {{active_type}} - {{cur_year}}
  </div>
    <!-- the graphs for teams -->
    <div class = "graph-container">

        <nfl-scatter
          ng-show="(active_type == 'Favorites' || 'Underdogs') &&
          active_category == 'Entire NFL'">
        </nfl-scatter>

        <nfl-ou
          ng-show="active_type == 'Over / Under' &&
          active_category == 'Entire NFL'">
        </nfl-ou>

        <nfl-ml
          ng-show="active_type == 'Moneyline' &&
          active_category == 'Entire NFL'">

        </nfl-ml>

        <!-- <agg-favs
          ng-show = "active_type == 'Favorites' &&
          active_category == 'Aggregates'">
        </agg-favs> -->

        <!-- <agg-ou
          ng-show = "active_type == 'Over / Under' &&
          active_category == 'Aggregates'">
        </agg-ou>

        <agg-ats
          ng-show = "active_type == 'Spread' &&
          active_category == 'Aggregates'">
        </agg-ats>

        <agg-home
          ng-show = "active_type == 'Home vs Away' &&
          active_category == 'Aggregates'">
        </agg-home>

        <agg-ml
          ng-show = "active_type == 'Moneylines' &&
          active_category == 'Aggregates'">
        </agg-ml> -->

      </div>
    </div>

<div class="leftDash">

    <div class="options">

      <ul ng-repeat = "cat in graph_options">
        <p ng-click = "changeActiveCategory(cat.category)" ng-class="{active: active_category == cat.category}" class = "category">{{cat.category}}</p>
        <li ng-click="changeActiveType(type)" ng-repeat="type in cat.cat_types" ng-class="{active: (active_type == type && active_category == cat.category)}">
          {{type}}
        </li>
      </ul>

      <div ng-click="toggleSecondary()">
        <p style="cursor: pointer"> {{showSecondary? 'hide' : 'show'}} {{secondary}} </p>
      </div>

      <div>
        <p ng-click="toggleTeamFilter()" style="cursor: pointer">filter by team</p>
      </div>

    </div>

    <div ng-mouseover="legend = true" ng-mouseleave="legend = false" class="circle">
      <i ng-show = "!legend" class = "fa fa-arrow-left"></i>
      <p ng-show="legend" class="legend">Legend</p>
    </div>



    <div class= "teams_dropdown"
      ng-class = "team_filter ? '_visible' : '_hidden' ">
        <span ng-repeat = "team in team_options" style="color: {{teamsMeta[team].hex}}; padding: 0px 5px 0px 5px; -webkit-text-stroke: 1px {{teamsMeta[team].hex}};}}">
          <span ng-click="changeTeam(team)"
          style="opacity: {{team == cur_team ? '1' : '.1'}}">
            <img src="{{teamsMeta[team].url}}">
            {{team}} {{teamsMeta[team].nick}}
          </span>
        </span>
    </div>

    <div class="year_menu">
      <ul>
        <li
         ng-click="changeYear(year)"
         ng-repeat="year in year_options"
         ng-class="year === cur_year ? 'currently' : ''">
          <span>{{year}}</span>
        </li>
      </ul>
    </div>

</div>





</div>
